# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# env files
.env
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
.instagram-token.json
*.xlsx
*.py
*.pdf
*.png.bak
